<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salvo!</title>
    <link rel="stylesheet" href="games.css">
</head>
<body>


    <div id="app">

        <div v-if="loginPos">
        <input  id="email" type="text"  placeholder="Email" value="">
        <input id="password" type="text" placeholder="Password" value="">
        <button @click="login()">Login</button>
        <button  @click="signUp()">Signup</button>
        </div>

       <button v-else @click="logout()">Logout</button>

<p v-if="!loginPos">Welcome, {{data.currentUser.playerEmail}}</p>

        <p v-if="reenterPos">Re-enter a game!</p>

        <div v-for="game in linkedGames">
            <ol>
                <li><a @click="insertPathVariable()" :id = "game.GameId" style="color: green; cursor: pointer"
                      class="linked">GameId: {{game.GameId}}</a></li>
                <li>creationDate: {{game.creationDate}}</li>
                <li>GamePlayers: {{game.gamePlayers}}</li>
            </ol>
        </div>

        <hr v-if="reenterPos">

        <p v-if="reenterPos">Or join a new game, that is looking for a player!</p>

        <div v-for="game in notLinkedGames">
            <ol>
                <li>GameId: {{game.GameId}}</li>
                <li>creationDate: {{game.creationDate}}</li>
                <li>GamePlayers: {{game.gamePlayers}}</li>
            </ol>
        </div>

        <hr>

        <button @click="createGame()">Create new game</button>




<table >

    <thead>
    <th>Email</th>
    <th>TotalScore</th>
    <th>Won</th>
    <th>Lost</th>
    <th>Tied</th>
    </thead>

    <tbody id="table"></tbody>

</table>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="games.js"></script>
</body>
</html>