<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Salvo!</title>
    <link rel="stylesheet" href="games.css">
</head>

<body>


    <div id="app">

        <div v-if="loginPos">
            <input id="email" type="text" placeholder="Email" value="">
            <input id="password" type="text" placeholder="Password" value="">
            <button @click="login()">Login</button>
            <button @click="signUp()">Signup</button>
        </div>

        <button v-else @click="logout()">Logout</button>

        <h1 v-if="!loginPos">Welcome, {{data.currentUser.playerEmail}}</h1>

        <h2 v-if="reenterPos">Games you are part of:</h2>


        <div v-for="game in openGames" class="openGames">

            <span>{{game.GameId}}</span>
            <span>{{game.gamePlayers[0].player.playerEmail}}</span>
            <span>vs.</span>
            <span>{{game.gamePlayers[1].player.playerEmail}}</span>
            <span><a @click="insertPathVariable()" :id="game.GameId" class="linked">Play game!</a></span>
        </div>

        <div v-for="game in noOpGames" class="noOpGames">

            <span>{{game.GameId}}</span>
            <span>{{game.gamePlayers[0].player.playerEmail}}</span>
            <span><a @click="insertPathVariable()" :id="game.GameId" class="linked">Wait for opponent to
                    join!</a></span>
        </div>



        <div v-for="game in overGames" class="overGames">

            <span>{{game.GameId}}</span>
            <span>{{game.gamePlayers[0].player.playerEmail}}</span>
            <span>vs.</span>
            <span>{{game.gamePlayers[1].player.playerEmail}}</span>
            <span><a @click="insertPathVariable()" :id="game.GameId" class="linked">Game is over!</a></span>
        </div>


        <hr v-if="reenterPos">

        <h2>Games that need a player:
        </h2>

        <div v-for="game in joinableGames" class="joinableGames">
            <span>{{game.GameId}}</span>
            <span>{{game.gamePlayers[0].player.playerEmail}}</span>
            <span><a @click="joinGame()" :id="game.GameId">Join Game</a></span>
            <!-- <button :id="game.GameId" @click="joinGame()">Join Game</button> -->
        </div>

        <hr>

        <h2>All games:
        </h2>
        <div v-for="game in fullGames" class="fullGames">

            <span>{{game.GameId}}</span>
            <span>{{game.gamePlayers[0].player.playerEmail}}</span>
            <span>vs.</span>
            <span>{{game.gamePlayers[1].player.playerEmail}}</span>
        </div>


        <!-- <div v-for="game in fullGames">
            <ol>
                <li>GameId: {{game.GameId}}</li>
                <li>creationDate: {{game.creationDate}}</li>
                <li>GamePlayers: {{game.gamePlayers}}</li>

            </ol>
        </div> -->



        <!-- <div v-for="game in joinableGames">
        <ol>
            <li>GameId: {{game.GameId}}</li>
            <li>creationDate: {{game.creationDate}}</li>
            <li>GamePlayers: {{game.gamePlayers}}</li>
            <li><button :id="game.GameId" @click="joinGame()">Join Game {{game.GameId}}</button></li>

        </ol>
    </div> -->




        <hr>

        <button @click="createGame()">Create new game</button>


        <p>Top 25 players and their scores.</p>
        <table>

            <thead>
                <th>Email</th>
                <th>TotalScore</th>
                <th>Won</th>
                <th>Lost</th>
                <th>Tied</th>
            </thead>

            <tbody id="table"></tbody>

        </table>

        <div v-if="!loginPos">
            <p>This is your score table.</p>
            <table>

                <thead>
                    <th>You</th>
                    <th>TotalScore</th>
                    <th>Won</th>
                    <th>Lost</th>
                    <th>Tied</th>
                </thead>

                <tbody id="myScoreTable">
                </tbody>

            </table>

        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="games.js"></script>
</body>

</html>