<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="game.css">
    <title>Ship Locations!</title>

    <style>
    
    td {

        border: 1px solid black;
    }
    
    </style>
</head>

<body>
<div id="vueApp">


    <button @click="logout()">Logout</button>
    <button @click="location.href='games.html';">All games</button>

    <h1 v-if="!placeShips">{{thisPlayer}} (you) vs. {{opponent}}</h1>

    <h2 v-if="placeShips">It is time to place your ships,  {{thisPlayer}}!</h2>

    <place-ships v-if="placeShips"></place-ships>
    <h2>Your Field</h2>
    <table cellspacing="0" id="table"></table>


    <div v-if="!placeShips">


    <br>
    <br>
    <h2>Battlefield of opponent displaying your salvoes!</h2>
    <table cellspacing="0" id="tableSalvo"></table>

    </div>

    <button @click="postShip()" v-if="placeShips">Done placing ships</button>

    </div>




<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://code.jquery.com/jquery-2.2.0.js"></script>
<script src="game.js"></script>
<script src="placeShips.js"></script>


</body>

</html>