  td {
      width: 40px;
      height: 40px;
      text-align: center;
      border: 1px solid black;
  }


  input {
      border: 1px solid black;
  }

  section {
      margin-bottom: 30px;
  }


  .bigShips,
  .smallShips {
      display: flex;
  }

  #table {
      display: inline-table;
      table-layout: fixed;
  }


  .form {

      font-size: small;
      background-color: red;
      height: 40px;
      text-align: center;
      width: 40px;
      cursor: pointer;

  }


  #dragAir:after {
      content: '';
      position: relative;
      left: 40px;
      top: -15px;
      border-style: solid;
      border-width: 25px 175px 15px 0;
      border-color: red;
      display: block;
      width: 0;
      cursor: default !important;
  }

  ul {
      border: 1px solid black;
      padding: 10px 100px;
  }